.headNav{
background-color: #498cf8;
padding: 30px;
margin-bottom: 30px;
}

input.codigo{
    border: none;
    background-color: white;
    padding: 1px;
    margin-left: -65px;
  }

h1{
  font-family: 'Acme', sans-serif;
  color: white;
  text-align: center;
}

a{
  margin: 70px;
}

